*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  direction: rtl;
}

body {
  font-size: $font-base;
  line-height: $line-height;
  color: $color-content;
  background-color: $color-background;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}