.page-header {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  align-items: baseline;
  gap: 30px;

  .page-title {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .draft-btn {
    &:hover {
      background-color: $color-blue;
    }
  }
}

@media screen and (max-width:992px) {
  .page-header {
    margin-top: 40px;
    margin-bottom: 70px;
    justify-content: center;
  }
}