<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>button component</title>
  </head>
  <body>
    <div class="component-container">
      <button class="custom-btn custom-btn--primary">primary</button>
      <button class="custom-btn custom-btn--delete">delete</button>
      <button class="custom-btn customt-btn--transparent">transparent</button>
      <button class="custom-btn custom-btn--slim">slim</button>
    </div>
  </body>
</html>
