<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card</title>
  </head>
  <body>
    <div class="component-container">
      <div class="card-component">
        <h3 class="card__title">معلومات الشحن غير موجودة</h3>
        <a class="custom-btn custom-btn--primary card__btn"
          >ربط معلومات الشحن</a
        >
        <p class="card__description">
          ستجد أمامك شركات شحن متنوعة أختر شركة الشحن اللي تريدها لمتجرك وكل ما
          عليك هو الضغط على "ربط الخدمة". 3. ستظهر لك نافذة يتوفر بها معلومات
          عامة عن شركة الشحن
        </p>
      </div>
      <div class="card-component card--no-description">
        <h3 class="card__title">معلومات الشحن غير موجودة</h3>
        <a class="custom-btn custom-btn--primary card__btn"
          >ربط معلومات الشحن</a
        >
      </div>
      <div class="card-component card--no-action">
        <h3 class="card__title">معلومات الشحن غير موجودة</h3>
        <p class="card__description">
          ستجد أمامك شركات شحن متنوعة أختر شركة الشحن اللي تريدها لمتجرك وكل ما
          عليك هو الضغط على "ربط الخدمة". 3. ستظهر لك نافذة يتوفر بها معلومات
          عامة عن شركة الشحن
        </p>
      </div>
    </div>
  </body>
</html>
