<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>list</title>
  </head>
  <body>
    <div class="component-container">
      <div class="list-component">
        <img class="list__media" src="../images/black-shirt.jpg" alt="image" />
        <span class="list__data">قميص أسود</span>
        <span class="list__data">علي جابر</span>
        <span class="list__data">الرباط، المغرب</span>
        <span class="list__data">$19.34</span>
        <div class="list__actions">
          <a href="#" class="custom-btn custom-btn--primary custom-btn--small"
            >تم الشحن</a
          >
          <a href="#" class="custom-btn custom-btn--small">تواصل</a>
          <a href="#" class="custom-btn custom-btn--delete custom-btn--small"
            >حذف الطلب</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
