<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>sidebar component</title>
  </head>
  <body>
    <div class="component-container">
      <div class="sidebar-component">
        <div class="sidebar__control">
          <a href="#" class="sidebar__icon sidebar__logo sidebar__icon--large">
          </a>
          <a href="./add-product.html" class="sidebar__icon"
            ><i class="fa-solid fa-plus"></i
          ></a>
          <a href="#" class="sidebar__icon"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></a>
          <a href="#" class="sidebar__icon"
            ><i class="fa-solid fa-power-off"></i
          ></a>
          <a
            href="#"
            class="sidebar__icon sidebar__icon--bottom sidebar__icon--large sidebar__icon--image"
          >
            <img src="../images/profile.png" alt="profile" />
          </a>
        </div>
        <div class="sidebar__menu">
          <h2 class="sidebar__title"><a href="#">وكالة</a></h2>
          <nav class="sidebar__navigation">
            <a href="#" class="sidebar__link"
              ><i class="fa-solid fa-sliders"></i> نظرة عامة</a
            >
            <a href="#" class="sidebar__link"
              ><i class="fa-brands fa-product-hunt"></i> المنتجات</a
            >
            <a href="#" class="sidebar__link"
              ><i class="fa-solid fa-user-group"></i> المستخدمين</a
            >
            <a href="#" class="sidebar__link"
              ><i class="fa-solid fa-basket-shopping"></i> الطلبات</a
            >
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
