<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>tabs component</title>
  </head>
  <body>
    <div class="component-container">
      <div class="tabs-component js-tabs">
        <div class="tabs__control">
          <span class="tabs__tab js-tab-link active" data-index="orders"
            >طلبات بحاجة لمراجعة</span
          >
          <span class="tabs__tab js-tab-link" data-index="products"
            >منتجات على وشك النفاد</span
          >
          <span class="tabs__tab js-tab-link" data-index="clients"
            >زبائن جدد</span
          >
        </div>
        <div class="tabs__content">
          <div class="tabs__tabarea js-tabarea active" data-indexed="orders">
            <div>Tab 1</div>
          </div>
          <div class="tabs__tabarea js-tabarea" data-indexed="products">
            <div>Tab 2</div>
          </div>
          <div class="tabs__tabarea js-tabarea" data-indexed="clients">
            <div>Tab 3</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
