<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>textfield</title>
  </head>
  <body>
    <div class="component-container">
      <div class="textfield--component">
        <label class="textfield__label">label name</label>
        <input type="text" class="textfield__input" placeholder="placeholder" />
      </div>
      <div class="textfield--component">
        <label class="textfield__label">label name</label>
        <textarea
          class="textfield__textarea"
          cols="30"
          rows="10"
          placeholder="placeholder"
        ></textarea>
      </div>
    </div>
  </body>
</html>
