.actions-component {
  @include e-card;
  padding: 20px;
  width: 100%;
}

.action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(darken($color-brand, 40%), 0.1);
  padding: 10px;

  &:last-child {
    border-bottom: none;
  }
}

.action__title {
  margin-left: auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.action__title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-brand;
}

@media screen and (max-width:600px) {
  .action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .action__title {
      margin: 0;
    }

    .action__title::before {
      display: none;
    }

    .action__link {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}