.card-component {
  @include e-card;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
}

.card__title {
  flex-grow: 1;
  color: $color-text-subdued;
  font-size: 17px;
  font-weight: normal;
}

.card__description {
  margin: 0;
  width: 100%;
  font-size: 14px;
}

.card--no-description {
  align-items: center;
}

.card--no-action {
  h3 {
    margin-bottom: 20px;
  }
}