.form-component {
  display: flex;
  gap: 80px;
}

.form__controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__row {
  display: flex;
  gap: 20px;

  div {
    label {
      margin-bottom: 5px;
    }
  }
}

::placeholder {
  direction: rtl;
  text-align: right;
}