.tabs-component {
  @include e-card;
  width: 100%;
}

.tabs__control {
  display: flex;
}

.tabs__tab {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.tabs__tab.active {
  border-bottom: 3px solid $color-primary;
}

.tabs__tabarea {
  display: none;
}

.tabs__tabarea.active {
  display: block;
}


@media screen and (max-width:600px) {
  .table__header {
    .table__actions {
      display: none;
    }
  }

  .table__footer {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-component--table {
    .list__actions {
      display: none;
    }
  }
}